.App {
  text-align: center;
}

div{
  margin: 10px;
}
.nav-link {
  cursor: pointer;
}

.nav-link.active {
  font-weight: bold;
}

.tab-pane {
  display: none;
}

.tab-pane.show {
  display: block;
}

